---
import { hrefs } from '@utils/hrefs'

import Base from '@layouts/Base.astro'

import CategoriesList from '@components/blog/CategoriesList.astro'
---

<Base
  title="Categories"
  description="Categories listing directory"
>
  <h1>Categories</h1>

  <CategoriesList title={false} />

  <p>
    <a href={hrefs.home}>Home page</a>
    <a href={hrefs.blog}>Blog</a>
  </p>
</Base>
