---
import { hrefs } from '@utils/hrefs'

import Base from '@layouts/Base.astro'

import Breadcrumbs from '@components/Breadcrumbs.astro'
import TagsList from '@components/blog/TagsList.astro'
---

<Base
  title="Tags"
  description="Tags listing directory"
>
  <Breadcrumbs slot="before-content" />

  <h1>Tags</h1>

  <TagsList title={false} />

  <p>
    <a href={hrefs.home}>Home page</a>
    <a href={hrefs.blog}>Blog</a>
  </p>
</Base>
